/* <div className='card'>
    <img className='card-img' src={props.img} alt="nova"></img>
    <div className='card-info'>
    <h3 className='card-info-location'>{props.location} </h3> <a className='card-info-linkto' href={props.googleMaps} >Ver en Google Maps</a>
    <h2 className='card-info-title'>{props.title}</h2>
    <h4 className='card-info-date'>{props.startDate}-{props.endDate}</h4>
    <p className='card-info-desc'>{props.description}</p>
    </div>
    

  </div>; */

  @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Inter:wght@300&family=Montserrat&family=Roboto+Slab:wght@300&display=swap');
  .card{
      display: flex;
      width: 80%;
      margin: 0 auto;
      border-bottom: 2px solid rgb(207, 207, 207);
      justify-content: center;
      align-items: center;
  }
  .card-img{
      width: 200px;
      object-fit: cover;
      height: 300px;
      border-radius: 10px;
      margin-bottom: 15px;
      margin-top: 15px;
  }
  .card-info{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
  }
  .card-info-location{
      
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18.24px;
      line-height: 22px;
      letter-spacing: 0.17em;
       
  }

  .card-info-linkto{
      display: inline;
      
      
      color: gray;
  }
  .card-info-title{
      font-size: 2em;
      margin: 15px 0 15px 0;
  }
  .card-info-date{
      margin: 0;
  }
  .card-info-desc{
      text-align: start;
  }

  
  .fa-map-marker-alt{
      color: rgb(240, 110, 110);
      margin-right: 5px;
  }  